In [1]:

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [7]:
df = pd.read_csv("./data/teams_updated.csv",index_col=0)

In [11]:
df_rankings = df[["Team","Rank","Year"]]

In [12]:
df_rankings.head()

        Team           Rank  Year
160    China  Quarter Final  1991
161    Italy  Quarter Final  1991
162  Denmark  Quarter Final  1991
163   Taiwan  Quarter Final  1991
164   Brazil    Group Stage  1991

In [18]:
df_rankings["Year"].astype(str)

160    1991
161    1991
162    1991
163    1991
164    1991
       ...
28     2023
27     2023
26     2023
25     2023
24     2023
Name: Year, Length: 168, dtype: object

In [22]:
df_rankings.dtypes

Team    object
Rank    object
Year     int64
dtype: object